@{
    ViewBag.Title = "Contact";
}

<div class="container" style="height: 712px; width: 980px; padding-top: 20px; padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto">
  <div class="row" style="margin:0">
    <div class="col-md-12" style="">
        <div style="font-family: Liberation;color:#FFF;font-size:26px">
          Bright Media House<br /> 9 Centre Road<br /> Morningside<br />
          <span class="glyphicon glyphicon-phone-alt"></span> 011 326 6733 <br />
          <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@brightmedia.co.za">info@brightmedia.co.za</a><br />
          <span class="glyphicon glyphicon-globe"></span> <a target="_blank" href="http://www.brightmedia.co.za">www.brightmedia.co.za</a>
</div>
    </div>
  </div>

</div>