@{
    ViewBag.Title = "Contact";
}

<div class="container" style="height: 712px; width: 980px; padding-top: 20px; padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto">

</div>