@{
  ViewBag.Title = "Home Page";
}
<style>


.nav li a {
color: white;text-decoration: none;font-size: 38px;text-shadow: 0px 1px 2px #555;
}

</style>
<div class="container" style="height: 712px; width: 980px;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: auto">
  <div class="row" style="margin:0">
    <div class="col-md-12" style="background: #FFF; z-index:100">
      <div style="height:301px; background: #FFFFFF url(Images/MainPageImage.jpg) no-repeat center; margin: 0 auto; font: normal normal normal 32px/1.4em jura, sans-serif;text-align: center;vertical-align:middle;text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;color: #FFFFFF">      
         <br />- The Knowledge Box -<br />
        filled with exciting resources for you<br /><br />
        Free resources for Teachers, Parents and Learners
      </div>
    </div>
    <div class="col-md-6" style="background: #FFF; z-index:100;margin-top:12px;padding:20px;">
      <b>WHAT IS THE KNOWLEDGE BOX  ALL ABOUT?</b><br />
      <ul>
        <li>
          The Knowledge Box website serves as a hub which is accessible to all users, in order to download subject resources, cool teaching tools, interesting videos, PowerPoint presentations, audio files, PDFs (posters, resource books) to make learning interesting and easier for teachers, learners and their parents. ALL for FREE!
        </li>
      </ul><br /> 
      <b>HOW DOES IT WORK?</b><br />
      <ul>
        <li>
          You can either use the SEARCH tool (in the menu bar) by typing in search words relevant to the subject or topic for which you need resources.
        </li>
        </ul>
      <div style="text-align:center">OR</div>
                                                                    OR
      <ul>
        <li>
          You can BROWSE through the content and see what is available.
        </li>
      </ul> 
      

      
      <br />
      Select one of the buttons on the right and enjoy all the resources.
    </div>
  </div>
</div>