@{
    ViewBag.Title = "Search";
}

<div class="container" style="height: 712px; width: 680px;padding-right: 0px;padding-left: 0px;margin-right: auto;margin-left: auto">
    <div class="row" style="margin:0">
        <div class="col-md-12" style="">
            <div style="text-align: center; font-family: Liberation;color:#FFF;font-size:30px">
                Search for resources
                <img src="~/Images/Search.jpg" />
            </div>
            <div style="font-family: Liberation;color:#FFF;">
                <span style="font-size:26px;">What to do:</span>
                <ul style="font-size: 18px">
                    <li>Type key words in the box below, e.g. chemistry or insect</li>
                    <li>Type up to 5 words</li>
                    <li>Use a comma to separate your words</li>
                    <li>Click 'search' button</li>
                </ul>
                <input type="text" class="form-control" name="txtSearch" id="txtSearch" />
            </div>
            <div style="text-align: center; font-family: Liberation;color:#FFF;font-size:30px;margin-top:12px">
                <button type="button" class="btn btn-default btn-lg active">Search</button>
            </div>
        </div>
    </div>
</div>
